# Notes
* Credit One has seen an increase in the number of customers who have defaulted on loans they have secured from various partners
* Credit One, as their credit scoring service, could risk losing business if the problem is not solved right away.
* Data Science team will design and implement a creative, empirically sound solution.
* Our first need is to define the problem within a data science framework
* Understand the differences between what we been doing with data analytics and what we're going to be doing in this project with data science.

* Zumel and Mount framework. This has been selected because of the iterative nature. We will need to fine to our model to ensure Credit One is getting the best outcome.
* Order of import seems to affect the availability of functions

# Goal
Credit One has seen an increase in customers who have defaulted on loans. If this continues, Credit One runs the risk of losing customers, therefor losing revenue. Our Data Science team has been tasked with designing and implementing a creative and empirically sound solution that will better detect the credit worthiness of a customer.

In [52]:
from scipy import stats
from numpy import random
import numpy as np
import pandas as pd

In [10]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)
dataOne

array([[0.66557731, 0.26231719, 0.58529851, 0.18553015, 0.94445389],
       [0.86774596, 0.35356194, 0.92754797, 0.34892618, 0.16249448],
       [0.8462797 , 0.20118346, 0.22389811, 0.15667952, 0.84734172],
       [0.76366694, 0.85446428, 0.35277519, 0.31754459, 0.26012662],
       [0.99627698, 0.54313718, 0.61577373, 0.72682276, 0.16326283]])

In [23]:
rnd = random.rand(1,5)
rnd

array([[0.76928715, 0.98489471, 0.51445867, 0.45952728, 0.29683443]])

In [11]:
np.mean(dataOne)

0.5269074871731398

In [19]:
dataOne[0][0]

0.6655773133505486

In [28]:
# only only size-1 arrays can be converted to Python scalars 
math.ceil(dataOne[0][0])

1

In [29]:
math.floor(dataOne[0][0])

0

In [25]:
math.fsum(dataOne[0])

2.643177048623813

In [26]:
math.fabs(dataOne[2][1])

0.2011834585202944

In [30]:
math.dist(dataOne[2], dataOne[1])

AttributeError: module 'math' has no attribute 'dist'

In [43]:
stats.mean(dataOne[1])

AttributeError: module 'scipy.stats' has no attribute 'mean'

In [44]:
stats.ranksums(dataOne[0], dataOne[2])

RanksumsResult(statistic=0.5222329678670935, pvalue=0.6015081344405899)

In [45]:
stats.mode(dataOne[1])

ModeResult(mode=array([0.16249448]), count=array([1]))

In [46]:
print('I Love data Science')

I Love data Science

In [47]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [49]:
varOne = str(25)
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

25Hello

In [50]:
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [54]:
#import credit data csv
credit_data = pd.read_csv("default of credit card clients.csv")
credit_data

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
6,6,50000,1,1,2,37,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
7,7,500000,1,1,2,29,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
8,8,100000,2,2,2,23,0,-1,-1,0,...,221,-159,567,380,601,0,581,1687,1542,0
9,9,140000,2,3,1,28,0,0,2,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
10,10,20000,1,3,2,35,-2,-2,-2,-2,...,0,13007,13912,0,0,0,13007,1122,0,0
11,11,200000,2,3,2,34,0,0,2,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
12,12,260000,2,1,2,51,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
13,13,630000,2,2,2,41,-1,0,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
14,14,70000,1,2,2,30,1,2,2,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
15,15,250000,1,1,2,29,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
16,16,50000,2,3,3,23,1,2,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
17,17,20000,1,1,2,24,0,0,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
18,18,320000,1,1,1,49,0,0,0,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
19,19,360000,2,1,1,49,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
20,20,180000,2,1,2,29,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
21,21,130000,2,3,2,39,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
22,22,120000,2,2,1,39,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,1
23,23,70000,2,2,2,26,2,0,0,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
24,24,450000,2,1,1,40,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,1
25,25,90000,1,1,2,23,0,0,0,-1,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
26,26,50000,1,3,2,23,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
27,27,60000,1,1,2,27,1,-2,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,1
28,28,50000,2,3,2,30,0,0,0,0,...,17878,18931,19617,1300,1300,1000,1500,1000,1012,0
29,29,50000,2,3,1,47,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29971,29971,360000,1,1,1,34,-1,-1,-1,0,...,49005,8676,19487,52951,64535,8907,53,19584,16080,0
29972,29972,80000,1,3,1,36,0,0,0,0,...,69674,71070,73612,2395,2500,2530,2556,3700,3000,0
29973,29973,190000,1,1,1,37,0,0,0,0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
29974,29974,230000,1,2,1,35,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
29975,29975,50000,1,2,1,37,1,2,2,2,...,2846,1585,1324,0,3000,0,0,1000,1000,1
29976,29976,220000,1,2,1,41,0,0,-1,-1,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
29977,29977,40000,1,2,2,47,2,2,3,2,...,51259,47151,46934,4000,0,2000,0,3520,0,1
29978,29978,420000,1,1,2,34,0,0,0,0,...,141695,144839,147954,7000,7000,5500,5500,5600,5000,0
29979,29979,310000,1,2,1,39,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
29980,29980,180000,1,1,1,32,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29981,29981,50000,1,3,2,42,0,0,0,0,...,50360,19971,19694,10000,4000,5000,3000,4500,2000,0
29982,29982,50000,1,2,1,44,1,2,2,2,...,28192,22676,14647,2300,1700,0,517,503,585,0
29983,29983,90000,1,2,1,36,0,0,0,0,...,11328,12036,14329,1500,1500,1500,1200,2500,0,1
29984,29984,20000,1,2,1,44,-2,-2,-2,-2,...,2882,9235,1719,2890,2720,2890,9263,1824,1701,0
29985,29985,30000,1,2,2,38,-1,-1,-2,-1,...,1993,1907,3319,923,2977,1999,3057,3319,1000,0
29986,29986,240000,1,1,2,30,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29987,29987,360000,1,1,2,35,-1,-1,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29988,29988,130000,1,1,2,34,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
29989,29989,250000,1,1,1,34,0,0,0,0,...,245750,175005,179687,65000,8800,9011,6000,7000,6009,0
29990,29990,150000,1,1,2,35,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
29991,29991,140000,1,2,1,41,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
29992,29992,210000,1,2,1,34,3,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
29993,29993,10000,1,3,1,43,0,0,0,-2,...,0,0,0,2000,0,0,0,0,0,0
29994,29994,100000,1,1,2,38,0,-1,-1,0,...,70626,69473,55004,2000,111784,4000,3000,2000,2000,0
29995,29995,80000,1,2,2,34,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29996,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29998,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

# Answers to Section Questions
Was it straightforward to install Python and all of the libraries?  *Yes,I already had Python installed based on previous work.*

Was the tutorial useful? *N/A pretty familiar with Python*
Would you recommend it to others? *Yes*

What are the main lessons you've learned from this experience?
*Prepare myself for a lot of errors!*